<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">

    <title>Traffic Management Website</title>
</head>
<body>
    <h1>Welcome to Our traffic website</h1>
    <div class="navbar1">
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Helpline Number</a></li>
            <li><a href="#">View Gallery</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
    <div class="background-image">
    <p>OBEY YOUR TRAFFIC RULES</p>
    <p>NORMAL SPEED MEETS EVERY NEED</p>
    </div>
    <div class="navbar2">
        <ul>
            <li><a href="#">Challan-Booklet</a></li>
            <li><a href="#">Traffic-Rules</a></li>
            <li><a href="#">SpeedLimit</a></li>
            <li><a href="#">PublicInterface</a></li>
            <li><a href="#">Gallery</a></li>
        </ul>
    </div>
    <script src="../static/script.js"></script>
</body> 
</html>